version: "3.8"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: avei_db
      POSTGRES_USER: avei_user
      POSTGRES_PASSWORD: change_me_db_password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - avei_net

  redis:
    image: redis:7
    restart: always
    networks:
      - avei_net

  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: gunicorn avei_saas.wsgi:application --bind 0.0.0.0:8000 --workers 3
    env_file: ./backend/.env
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"
    networks:
      - avei_net

volumes:
  db_data:
  static_volume:
  media_volume:

networks:
  avei_net:
